:root {
    /* Border color*/
    --gray-border: #e8e9eb;
    /* Text font color */
    --font-color-text: #9E9E9E;
    /* Title font color */
    --font-color-title: #5d5d5d;
    --green: #bad2ad;
    --green-background: #f5f7f2;
    --orange: #ddc199;
    --orange-background: #f9f7f3;
    --red: #c59295;
    --red-background: #f7f5f8;

    --button-background-color: #007bff;
    --button-text-color: #ffffff;
    --button-font-size: 16px;
    --button-font-weight: 400;
    --button-border-width: 1px;
    --button-border-color: #007bff;
    --button-border-radius: 5px;
}

.content-container {
    display: flex;
    flex-direction: column;
    height: 85vh; /* Розтягується на всю висоту вікна браузера */
    width: 100%;
}

.scroll-container {
    width: 100%;
    overflow-y: scroll;
    height: 100%;
    /* margin-bottom: 54px; */
}

.table-responsive-container {
    flex-grow: 1; /* Заповнює простір між хедером і нижньою частиною сторінки */
    overflow-y: auto; /* Якщо вміст перевищує розмір, з'являється скролінг */
    /*height: 100%;*/
}



.select-page-size,
.select-page-number {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
}

.select-page-size:focus,
.select-page-number:focus {
    border-color: #ffffff;
    outline: none;
}
.table-header {
    padding: 1rem 2rem 1rem 1.7rem;
    display: flex;
    align-items: stretch;  /* Ensures vertical alignment of items */
    justify-content: space-between;
    gap: 10px; /* Adds space between the title, search bar, and button */
}

.table-header h1 {
    color: var(--font-color-title);
    margin: 0; /* Removes any margin that could push the title up */
}

.table-header-search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;
    border: 1px solid var(--gray-border);
    border-radius: 0.25rem;
    padding-right: 0.5rem;
    height: 100%;
}


.table-header-search-bar-input {
    width: 100%;
    padding: 0.35rem;
    border-radius: 0.25rem;
    padding-left: 0.75rem;
    border: 0;
    height: 100%;
}


.table-header-search-bar svg {
    color: var(--font-color-title);
    font-size: 20px;
}

.table-header-search-bar-input:focus {
    outline: 0;
}

.custom-button {
    padding: 5px 18px;
    cursor: pointer;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: normal;
}


.select {
    border: 0 !important;
}

.select .react-select__control {
    border-radius: 25px;
    border: 0 !important;
    font-size: 16px;
    padding: 0 20px;
    background-color: var(--green-background);
    color: var(--green);
}