.table-container {
    width: 100%; /* Full width container */
    padding: 0 20px; /* Margins for left and right */
    box-sizing: border-box; /* Make padding part of the total width */
    border-bottom: none;
}

.table {
    width: auto; /* Table width adjusts to the content */
    margin: 0; /* Keep the table left-aligned */
    /*border-collapse: collapse;*/
    border-collapse: separate;
    white-space: nowrap;
    table-layout: auto; /* Allow the table to adjust based on content */
    border-spacing: 15px 0;
}

.table thead {
    background-color: transparent !important; /* Ensure the row background is transparent */
    border-bottom: none !important;
}

/* Only the border under the header row, spanning full width */
.table thead th {
    text-align: left !important;
    padding: 10px;
    color: var(--font-color-title);
    background-color: transparent !important;
    border-bottom: none !important;
    /*border-bottom: 2px solid #efeff0; !* This is the header border *!*/
}

.table-container::before {
    content: "";
    display: block;
    width: calc(100% - 40px); /* Ensure it spans the full container width */
    height: 2px;
    background-color: #efeff0; /* Match the border color */
    position: absolute;
    top: 104px; /* Adjust to the height of the header */
}

.table td,
.table th {
    padding: 10px;
    text-align: left !important; /* Left-align both header and cells */
    color: #9E9E9E;
    font-weight: 400;
    font-size: 15px;
    border-bottom: none; /* Remove any additional row borders */
    background-color: transparent !important;
}

/* Add this style for expanded columns */
.table th.expand-column {
    width: 100%;
    text-align: right; /* Align text to the right when expanded */
}

/* Default column style */
.table th.default-column {
    width: auto;
    text-align: left;
}


/* Set fixed widths for the first and last columns */
.table th:first-child,
.table td:first-child {
    width: 200px;
    padding-left: 0;
}

.table th:last-child,
.table td:last-child {
    width: 150px;
}

/* Responsive layout for smaller screens */
@media only screen and (max-width: 500px) {
    .table th,
    .table td {
        display: block;
        width: 100%; /* Make each column take full width on small screens */
    }

    .table tbody tr {
        display: block;
        margin-bottom: 10px;
    }

    .table thead {
        display: none; /* Hide the table header on smaller screens */
    }

    .table tbody td::before {
        content: attr(data-title); /* Show the column title inside each cell */
        font-weight: bold;
        display: block;
    }
}

/* Styling for select dropdowns */
.table .select {
    width: 150px;
    border: 0 solid #f9fafb;
    border-radius: 1px;
}

.select {
    cursor: pointer !important;
}

/* Badges */
.badge {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 6px;
    width: fit-content;
    padding: 3px 18px;
    border: 0;
    font-weight: normal;
}

/* Example of different badge classes */
.badge.low {
    background-color: var(--green-background);
    color: var(--green);
}

.badge.critical {
    background-color: var(--red-background);
    color: var(--red);
}

.badge.high {
    background-color: var(--orange-background);
    color: var(--orange);
}

.badge.moderate {
    background-color: rgb(252, 252, 255);
    color: rgb(194, 213, 242);
}

/* Tooltip */
.tooltip {
    background-color: #eaecf3;
    border-radius: 8px;
    padding: 8px;
    border: 0 solid var(--gray-border);
    display: block;
    max-width: 200px;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 3px;
}

.description button {
    background-color: transparent !important;
    padding: 0;
    border: 0;
    outline: 0;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    color: var(--font-color-text);
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
}

.table-no-data {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
